# Configuration des types MIME
AddType application/javascript .js
AddType application/json .json
AddType image/svg+xml .svg
AddType image/png .png

# Permettre l'accès aux fichiers
<Files *>
  Order Allow,Deny
  Allow from all
</Files>
