aiohttp==3.9.3
beautifulsoup4==4.12.3
langdetect==1.0.9
pymongo==4.6.1
motor==3.3.2
redis==5.0.1
opensearch-py[async]==2.4.2
python-dotenv==1.0.1
fastapi==0.109.2
uvicorn==0.27.1
pydantic==2.6.1
aiofiles==23.2.1
aiocache==0.12.2
httpx==0.26.0
lxml==5.1.0
cchardet==2.1.7
aiodns==3.1.1
Brotli==1.1.0
